.messageWrapper {
  margin: 5px 2%;
  width: 94%;
  display: flex;
}

.outgoingWrapper {
  justify-content: flex-end;
}

.incomingWrapper {
  justify-content: flex-start;
}
.messageContent {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 625px;
  word-wrap: break-word;
  padding: 6px 7px 8px 9px;
}

.outgoing {
  background: #c5e6c1;
  box-shadow: 0 1px 0.5px rgba(11, 20, 26, 0.13);
  border-radius: 9px;
}

.incoming {
  background: #fff;
  box-shadow: 0 1px 0.5px rgba(11, 20, 26, 0.13);
  border-radius: 9px;
}
